<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CWCMSConnSecVers"
            connectionString="Data Source=192.168.100.101;Initial Catalog=CreditwestDocSystemDBVersion2;Persist Security Info=True;User ID=cwsoftgenious;Password=c36en105!"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>